.content-main {
	position: absolute;
	background-color: '#fafafa';
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #00B248;
	color: #00B248;
	font-weight: bold;
}

p {
	white-space: nowrap;
	padding: 0 40px;
}

.content {
	background-color: white;
	border-radius: 20px;
}

.content-header {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-header > p {
	font-size: 30px;
	border-bottom: 1px solid #c2c2c2;
	width: 80%;
	text-align: center;
	padding: 10px;
}

.content-body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content-body  p {
	font-size: 20px;
}


@media screen and (max-width: 500px) {

	.content {
		width: 80%;
	}

	.content-header > p {
		font-size: 20px;
	}

	.content-body  p {
		font-size: 15px;
	}
}