

.main-content {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../../assets/background.jpg');
	background-position: center;
	background-size: cover;
}

.box-content {
	position: absolute;
	background: white;
	padding: 20px;
	right: 0;
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

